body {
    background-color: rgb(217, 244, 255);
  }
  
  h1 {
    color: white;
  }
      
    .center{ 
      text-align: center;
     }

     .fonte-verde{
      color: green;
   }
 #para {
    
    font-family: verdana;
    font-size: 20px;

  }
 h2 {
    color: rgb(255, 50, 50);
  }

  